*{
  box-sizing: border-box;
}
body{
  background: #272822;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
}
h1{
  font-size: 18px;
}
h1{
  margin: 0px;
  margin-bottom: 10px;
}
button, input, textarea{
  font-family: 'Rubik', sans-serif;
}
